<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test secondsToString</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
  </head>
  <body>
    <table id="seconds">
      <tr>
        <th><strong>seconds</strong></th>
        <th><strong>min</strong></th>
        <th><strong>hours</strong></th>
        <th><strong>days</strong></th>
        <th><strong>weeks</strong></th>
        <th><strong>months</strong></th>
        <th><strong>years</strong></th>
        <th><strong>secondsToString</strong></th>
      </tr>
      <tr v-for="s in seconds">
        <td>{{ s }}</td>
        <td>{{ s / 60.0 }}</td>
        <td>{{ s / 60.0 / 60.0 }}</td>
        <td>{{ s / 60.0 / 60.0 / 24.0 }}</td>
        <td>{{ s / 60.0 / 60.0 / 24.0 / 7.0 }}</td>
        <td>{{ s / 60.0 / 60.0 / 24.0 / (365.2421 / 12.0) }}</td>
        <td>{{ s / 60.0 / 60.0 / 24.0 / 365.2421 }}</td>
        <td>{{ secondsToString(s) }}</td>
      </tr>
    </table>
    <script type="text/x-template" id="article-item-template">
      <div>
        <h2>{{ id }}: {{ title }}</h2>
        <hr/>
        <div>{{ content }}</div>
      </div>
    </script>
    <div id="app">
      <router-view></router-view>
    </div>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
Vue.prototype.secondsToString = secondsToString;
var app = new Vue({
  data: {seconds: [0, 1, 5, 10, 50, 59, 60, 61, 100, 110, 119, 120, 121, 170, 179, 180, 181,
    3300, 3400, 3500, 3599, 3600, 3700, 4000, 6000, 7100, 7199, 7200, 7201, 7300,
    3600.0*20.0, 3600*23.0, 3600.0*24.0 - 1.0, 3600.0*24.0, 3600.0*24.0 + 1.0, 3600.0*25.0,
    3600.0*42.0, 3600*47.0, 3600.0*48.0 - 1.0, 3600.0*48.0, 3600.0*48.0 + 1.0, 3600.0*49.0,
    3600.0*24.0*6.0, 3600.0*24.0*7.0 - 1, 3600.0*24.0*7.0, 3600.0*24.0*7.0 + 1, 3600.0*24.0*8.0,
    3600.0*24.0*13.0, 3600.0*24.0*14.0 - 1, 3600.0*24.0*14.0, 3600.0*24.0*14.0 + 1, 3600.0*24.0*15.0,
    3600.0*24.0*(365.2421 / 12.0 - 1), 3600.0*24.0*(365.2421 / 12.0) - 1, 3600.0*24.0*(365.2421 / 12.0), 3600.0*24.0*(365.2421 / 12.0) + 1, 3600.0*24.0*(365.2421 / 12.0 + 1),
    3600.0*24.0*320.0, 3600.0*24.0*365.2421 - 1, 3600.0*24.0*365.2421, 3600.0*24.0*365.2421 + 1, 3600.0*24.0*395.0,
    3600.0*24.0*365.2421*4.0, 3600.0*24.0*365.2421*5.0 - 1, 3600.0*24.0*365.2421 * 5.0, 3600.0*24.0*365.2421*5.0 + 1, 3600.0*24.0*365.2421*6.0]},
  el: '#seconds'
});
    </script>
  </body>
</html>
