main {
  padding-top: 0.5em;
}
.nav-item {
  margin-right: 5px;
}
.button-narrow {
  padding: 1px;
  height: 1.5em;
  width: 1.5em;
}
.comments {
  margin-right: 10px;
}
.alert-muted {
  border-color: #bcdff1;
  color: white;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
#dropdownMenuLeft {
  padding: 0px;
}
.alert-lightinfo {
  background-color: #F3FAFD;
}
#slippylist {
  margin-left: -40px;
}
.slip-swiping-container {
  overflow-x: hidden;
}
.text-magenta {
  color: magenta;
}
#message {
  z-index: 99;
  width: 100%;
  margin: auto;
  height: auto;
  position: fixed;
  top: 68px;
  background-color: red;
  color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 24px -1px rgba(56,56,56,1)
}
@keyframes myAnimation {
  0%   { opacity:0; }
  20%  { opacity:1; }
  50%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}
.fadeinout {
  animation: myAnimation 10s;
}
.icon-danger {
  fill: red;
}
.icon-success {
  fill: green;
}
.icon-light {
  fill: lightgray;
}
.icon-warning {
  fill: yellow;
}
.icon-info {
  fill: blue;
}
#rating_modal {
  display: block;
}
#rating_modal_mask {
  background-color: darkgrey;
  opacity: 0.5;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spinner-static {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.wrapper {
  max-width: 90%;
  margin: 0 20px;
 /* display: grid;*/
  grid-gap: 10px;
}
/* no grid support? */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}
.wrapper > .card > .card-footer {
  padding: 0.5rem 0.5rem;
}
.card {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}
.tall-panel {
  grid-row-end: span 2;
}
.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
}
.dimmed {
  opacity: 0.4;
}
/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
a.articlelink {
  text-decoration: none !important;
  color: #333;
}
a.articlelink > strong {
  color: #000;
}
a.articlelink:hover {
  color: blue;
  text-decoration: none;
}
a.articlelink:hover > strong {
  color: blue;
}
svg.icon {
  top: -2px;
  position: relative;
}
.content {
  font-family: serif;
  font-size: 1.25em;
}
.title {
  font-weight: bold;
}
